[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
cryptography = "*"
sievelib = "*"
PyInstaller = "*"
QScintilla = "*"
PyQtWebEngine = "*"
qtawesome = "*"
lark-parser = "*"

[requires]
python_version = "3.9"
